*{
    padding: 0;
    margin: 0;
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
}
.logotipo_alura{
    left: 3vh;
    top: 3vh;
    width: 40px;
    height: 55px;
    position: fixed;
}

.area_work{
    color: #0A3871;
    display: flex;
    gap: 20px;
    width: 90%;
    height: 95vh;
    margin: 20px 20px 20px 20px;
   
}

.input_text_zone{
    padding-top: 10px;
    font-size: 28px;
    text-align: center;
    width: 80%;
    height: 100%;
    /* border: 1px solid blue; */
}

.cama{

    /* border: 1px solid green; */
    word-wrap: break-word;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #0A3871;
    margin-top: 2.5;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    height: 95%;
}

.input_text_zone_text{

    /* border: 2px solid yellow; */
    font-size: 32px;
    color: #0A3871;
    font-weight: bold;
    width: 90%;
    height: 75%;
    padding-top: 5%;
    padding-left: 2%;
 }


 .input_text_zone_buton, .mensaje_alerta{
    display: flex;
    gap: 1%;
}

.mensaje_alerta{
    align-items: center;
    font-size: 12px;
    color: #495057;
    padding-left: 6%;
}

.mensaje_alerta>img{
    width: 20px;
    height: 20px;
}

.input_text_zone_buton2, .input_text_zone_buton1{
    font-size: 16px;
    color: #0A3871;
    width: 30%;
    height: 50px;
    /* border: 1px solid #0A3871; */
    border-radius: 24px;
    background-color: #D8DFE8;
    margin-left: 5%;
    margin-top: 1%;

}

.result_text{
    /* border: 1px solid red; */
    width:30%;
    height: 100%;
}

.hola{
    /* border: 3px solid green; */

    border-radius: 20px;
    background: white;
    width:90%;
    height: 95%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

.aa{
    /* border: 1px solid rgb(68, 106, 255); */
    

    font-size: 24px;
    color: #495057;
    width: 95%;
    height: 72vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.copiar{
    font-size: 16px;
    color: #0A3871;
    margin-top: 33px;
    margin-left: 5%;
    width: 90%;
    height: 50px;
    /* border: 1px solid #0A3871; */
    border-radius: 24px;
    background-color: #D8DFE8;
    
}

button {
    cursor: pointer;
    transition: all .5s;
}
button:hover { 
    background-color: #0A3871;
    color: white;
}

.fail, .result_text_printer, .result{
    background: transparent;
}

.fail>img{
    margin-top: 150px;
    width: 300px;
}

.mensaje_error{
    justify-content: center;
    text-align: center;
}

.result_text_mensajes1{
    color: #343A40;
    font-size: 24px;
    font-weight: bold;
}

.result_text_mensajes2{
    color: #495057;
    font-size: 16px;
}


.hola.step-1 {
    display: none;
}
.hola.step-fail, .hola.step-result {
    display: block;
}
.hola.step-fail .result {
    display: none;
}
.hola.step-result .fail {
    display: none;
}

textarea{
    outline: none;
    resize: none;
    border: none;
}





@media ( max-width: 768px) {

    .area_work{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }

    .input_text_zone_buton2, .input_text_zone_buton1{
        width: 40%;
        margin-left: 7%;
    }

    .img_error{
        display: none;
    }

    .input_text_zone{
        padding-top: 60px;
        font-size: 32px;
        width: 100%;
        height: 50vh;
    }

    .result_text{
        width:100%;
        height: 42%;
    }



    .hola{
        border: 3px solid white;

        height: auto;
        border-radius: 20px;
        background: white;

    }

    .mensaje_error{
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .result{

        height: 430px;
        border-radius: 20px;
        background: white;
    }

    .aa{
        height: 250px;
    }
    .copiar{
        height: 100px;
    }

  










    
}





















































